#!/bin/bash

#PBS -l nodes=1:ppn=8,walltime=00:40:00
#PBS -N {{id_}}_prep

export PATH=${HOME}/exec/gromacs-4.5.5/exec/bin:${PATH}                                      
export GMXLIB=${HOME}/exec/gromacs-4.5.5/exec/share/gromacs/top:${GMXLIB}

cd ${PBS_O_WORKDIR}

REL_DIR=../../../../repository
em_mdp=${REL_DIR}/em.mdp
nvt_mdp=${REL_DIR}/nvt.mdp
npt_mdp=${REL_DIR}/npt.mdp
md_mdp=${REL_DIR}/md.mdp
ATOM_PER_CHAIN=262
PF={{id_}}			# prefix

grompp -f ${em_mdp} -c ${REL_DIR}/system_prep/h/{{var1}}_{{var2}}{{var3}}_npt.gro -p ${PF}.top -o ${PF}_em.tpr -po ${PF}_em

mpirun -np 16 mdrun_mpi -v -deffnm ${PF}_em

printf "Potential\n" | g_energy -f ${PF}_em.edr -o ${PF}_pot_em

grompp -v -f ${nvt_mdp} -c ${PF}_em.gro -p ${PF}.top -o ${PF}_nvt.tpr -po ${PF}_nvt

mpirun -np 16 mdrun_mpi -v -deffnm ${PF}_nvt

printf "Temperature\nPressure\n" | g_energy -f ${PF}_nvt.edr -o ${PF}_tmpr_nvt

grompp -v -f ${npt_mdp} -c ${PF}_nvt.gro -p ${PF}.top -o ${PF}_npt.tpr -po ${PF}_npt

mpirun -np 16 mdrun_mpi -v -deffnm ${PF}_npt

printf "Potential\nVolume\nDensity\nTemperature\nPressure\n" | g_energy -f ${PF}_npt.edr -o ${PF}_prsr_npt

grompp -v -f ${md_mdp} -c ${PF}_npt.gro -p ${PF}.top -o ../${PF}_md.tpr -po ${PF}_md

editconf -f ${PF}_npt.gro -o  ${PF}_npt.pdb
add_cid_to_pdb.py -f ${PF}_npt.pdb -n ${ATOM_PER_CHAIN} --exresname W
